node_modules/
generatedCsv/
toDelete*.json
campus.json
josh.json
config.json
apiReports/
compareCXWithLMS.js
CXCoursesTest.json
lmsDataWrapper.js
/src/prod.txt
/src/getFailed.js
/src/compare.js
/results/*
/src/csv/*